

.home_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 4;
    padding-bottom: 1rem;
    width: 80%;
    margin: auto;
}

.homeform_input {
    display: flex;
    justify-content: center;
}
